.body-div {
  position: relative;
  background-color: ${bg_color};
  width: 768px;
  height: 984px;
}

img.button-img {
  position: absolute;
}

img.close-button {
  top: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
}

img.next-button {
  //top: 28px;
  //right: 98px;
  top: 300px;
  right: 40px;
  width: 100px;
  height: 300px;
  opacity: .4;
}

h1, h2, button {
  color: ${text_color};
}

h1 {
  font-size: 25px;
  margin-top: 0px;
  padding: 36px 0 20px 20px;
}

div.image-div {
  margin: 0 auto;
  width: 728px;
  height: 710px;
  background-repeat: no-repeat !important;
}

div.image-div.image-1 {
  background: url(${image_1});
}

div.image-div.image-2 {
  background: url(${image_2});
}

div.image-div.image-3 {
  background: url(${image_3});
}

h2 {
  text-align: left;
  margin-left: 20px;
  font-size: 25px;
  //font-size: 40px;
}

button {
  width: 150px;
  height: 50px;
  margin-left: 13px;
  background: ${button_color};
  border: ${button_color};
  color: ${button_text_color};
  z-index: 2000;
}